h1 {
    font-family: aboreto;
    font-size:48px;
    text-align: center;
}
.myName {
    font-family: aboreto;
    font-size: 48px;
    text-align: center;
}
.title {
    font-family: aboreto;
    font-size: 48px;
    text-align: center;
}
.contactMe {
    font-family: aboreto;
    font-size: 48px;
    text-align: center;
}
.aboutMe {
    font-family: aboreto;
    font-size: 48px;
    text-align: center;
}

