
h1 {
    font-family: aboreto;
    font-size: 40px;
    text-align: center;
    color:#2b0018;
    padding-block-start:20px;
    padding-block-end: 14px;

}
.myName {
    font-family: aboreto;
    font-size: 36px;
    text-align: center;
}
.title {
    font-family: aboreto;
    font-size: 22px;
    text-align: center;
    margin-block-start: 10px;
    margin-block-end:10px ;
}
.contactLink {
    text-decoration: none;
}
.aboutLink {
    text-decoration: none;
}
.home {
    font-size: 20px;
    font-family:aboreto;
    text-align: center;
    text-decoration: none;
    color: #2b0018;
    display: flex;
    justify-content: center;
}
.contactMe {
    font-family: aboreto;
    font-size: 20px;
    text-align: center;
    padding:10px;
    border-radius: 14px;
    background-color:#ffcdd8;
    border:3px solid #ffc3ce;
    box-shadow: 1px #2b0018;
}
.aboutMe {
    font-family: aboreto;
    font-size: 20px;
    text-align: center;
    background-color: #ffcdd8;
    padding:10px;
    border-radius: 14px;
    border:3px solid #ffc3ce;
    box-shadow: 1px #2b0018;
    text-decoration: none;
 }
 .launchButton {
    font-family: aboreto;
        font-size: 20px;
        text-align: center;
        background-color: #ffcdd8;
        padding: 10px;
        border-radius: 14px;
        border: 3px solid #ffc3ce;
        box-shadow: 1px #2b0018;
        text-decoration: none;
 }
.content {
    display: flex;
    justify-content: center; 
    justify-content: space-evenly;
    padding-block-end: 30px ;
}
body {
background-image: linear-gradient(to bottom right, #fff2f6, #ffd7e2, #fff2f6);
}
h2 {
    font-family: aboreto;
    font-size: 30px;
    text-align: center;
    color: #2b0018;
} 
h3 {
    font-family: aboreto;
    font-size: 30px;
    text-align: center;
    color: #2b0018;
} 

.email {
    font-family: aboreto;
    font-size: 20px;
    text-align: center;
    color: #2b0018;
    margin-block-start: 10px;
    margin-block-end: 10px;
} .GitHub {
    font-family: aboreto;
    font-size: 20px;
    text-align: center;
     color: #2b0018;
    margin-block-start: 10px;
    margin-block-end: 10px;
 }
.background {
    font-family: aboreto;
    font-size: 20px;
    margin-inline-start: 10px;
    margin-inline-end: 10px;
    padding: 5px; 
    text-align: justify;
}
.coding {
font-family: aboreto;
    font-size: 20px;
    margin-inline-start: 10px;
        margin-inline-end: 10px;
        background-color: #ffb7c5;
        border-radius: 14px;
        padding: 5px;
}


p {
    font-family: aboreto;
        font-size: 20px;
        margin-inline-start: 10px;
        margin-inline-end: 10px;
        padding: 5px;
        text-align: justify;
        color: #2b0018;
}
.decor {
        background-color: #ffcdd8;
        padding: 10px;
        border-radius: 14px;
        border: 3px solid #ffc3ce;
        box-shadow: 1px #2b0018;
        text-decoration: none;
        margin:30px;
}

.socialLinks {
    display: flex;
    justify-content: center;
    color:#ffc3ce;
}

.col-md-6- {
    background-image: linear-gradient(to bottom right, #ffcdd8, #ffcdd8, #ffcdd8);
    border-radius: 30px;
    padding: 15px;
 }
