h1 {
    font-family: aboreto;
    font-size: 30px;
    text-align: center;
    color:#2b0018;
    margin-block-start:14px;
}
.myName {
    font-family: aboreto;
    font-size: 36px;
    text-align: center;
}
.title {
    font-family: aboreto;
    font-size: 18px;
    text-align: center;
    margin-block-start: 10px;
    margin-block-end:10px ;
}
.contactLink {
    text-decoration: none;
}
.aboutLink {
    text-decoration: none;
}
.homeLink {
    font-size: 20px;
    font-family:aboreto;
    text-align: center;
    text-decoration: none;
}
.contactMe {
    font-family: aboreto;
    font-size: 20px;
    text-align: center;
    padding:10px;
    border-radius: 14px;
    background-color:#ffcdd8;
    border:3px solid #ffc3ce;
}
.aboutMe {
    font-family: aboreto;
    font-size: 20px;
    text-align: center;
    background-color: #ffcdd8;
    padding:10px;
    border-radius: 14px;
    border:3px solid #ffc3ce;
    box-shadow: 1px #2b0018;
}
.content {
    display: flex;
    justify-content: center; 
    justify-content: space-evenly;
}
body {
    background-image:linear-gradient(to bottom right,#ffd7e2,#ffe1ec,#ffd7e2);
}
h2 {
    font-family: aboreto;
    font-size: 20px;
    text-align: center;
    color: #2b0018;
} h3 {
    font-family: aboreto;
    font-size: 20px;
    text-align: center;
    color: #2b0018;
} .homeLink { font-family: aboreto;
    font-size: 10px;
    text-align: center;
    color: #2b0018;} 
.email {
    font-family: aboreto;
    font-size: 20px;
    text-align: center;
    color: #2b0018;
    margin-block-start: 10px;
    margin-block-end: 10px;
} .GitHub {
    font-family: aboreto;
    font-size: 20px;
    text-align: center;
     color: #2b0018;
    margin-block-start: 10px;
    margin-block-end: 10px;
     }
.background {
    font-family: aboreto;
    font-size: 20px;
    margin-inline-start: 10px;
    margin-inline-end: 10px;
    background-color: cornflowerblue;
}
.coding {
font-family: aboreto;
    font-size: 20px;
}