h1 {
    font-family: aboreto;
    font-size: 30px;
    text-align: center;
    color:#2b0018;
}
.myName {
    font-family: aboreto;
    font-size: 36px;
    text-align: center;
}
.title {
    font-family: aboreto;
    font-size: 18px;
    text-align: center;
}
.contactLink {
    text-decoration: none;
}
.aboutLink {
    text-decoration: none;
}
.contactMe {
    font-family: aboreto;
    font-size: 14px;
    text-align: center;
    padding:10px;
    border-radius: 14px;
    background-color:#ffcdd8;
    border:3px solid #ffc3ce;
}
.aboutMe {
    font-family: aboreto;
    font-size: 14px;
    text-align: center;
    background-color: #ffcdd8;
    padding:10px;
    border-radius: 14px;
    border:3px solid #ffc3ce;
    box-shadow: 1px #2b0018;
}
.content {
    display: flex;
    justify-content: center; 
    justify-content: space-around;
}
body {
    background-image:linear-gradient(to bottom right,#ffd7e2,#ffe1ec,#ffd7e2);
}
h2 {
    font-family: aboreto;
    font-size: 20px;
    text-align: center;
    color: #2b0018;
} h3 {
    font-family: aboreto;
    font-size: 20px;
    text-align: center;
    color: #2b0018;
} .homeLink { font-family: aboreto;
    font-size: 10px;
    text-align: center;
    color: #2b0018;} 
.email {
    font-family: aboreto;
    font-size: 20px;
    text-align: center;
    color: #2b0018;
} .GitHub {
    font-family: aboreto;
    font-size: 20px;
    text-align: center;
     color: #2b0018;
            }